<div class="logobar">
  <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Versace_old_logo.svg" alt="Versace">
  <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Zara_Logo.svg" alt="Zara">
  <img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/Gucci_Logo.svg" alt="Gucci">
  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Prada-Logo.svg" alt="Prada">
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Calvin_klein_logo.svg" alt="Calvin Klein">
</div>